@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,700%7CPoppins:300,400,500,700,900);

* {
    margin: 0px;
    padding: 0px;
    border: 0;
    box-sizing: border-box;
}

body {
    background: rgb(246, 247, 245);
    padding-top: 50%;
}
/*Header*/

#ajuste {
    background: url('./Img/Caratula.png');
    background-size: cover;
    background-position: center;
    background-color: rgb(100,100,100);
    background-blend-mode: soft-light;
    background-attachment: fixed;
}

header {
    width: 100%;
    top: 0;
    overflow: hidden;
    position: fixed;
}



    header h1 {
        font-family: "Poppins";
        font-size: 36px;
        text-align: center;
        padding-top: 20%;
        padding-bottom: 23%;
        -webkit-transition: 1s all cubic-bezier(0.2, 0.05, 0.36, 1);
    }

    header nav {
        position: fixed;
        height: 60px;
        width: 100%;
        line-height: 60px;
        bottom: 0px;
    }

        header nav a {
            display: inline-block;
            color: #fff;
            text-decoration: none;
            padding: 10px 20px;
            line-height: normal;
            font-size: 20px;
            font-weight: bold;
            -webkit-transition: all 0.2s ease;
        }

nav a:hover {
    background: #252932;
    border-radius: 50px;
}

header.header2 nav {
    background-color: rgba(100,100,100,0.6);
}

header.header2 {
    background-color: rgba(100,100,100,0.6);
}

    header.header2 h1 {
        transform: scale(0,0);
    }

#linea {
    height: 1px;
    width: 100%;
    background-color: #a0a0a0;
}

.posiciotexto {
    text-align: center;
    font-family: "Roboto";
}
/*
#cuadro {
    background: #252932;
    position: absolute;
    top: 1px;
    left: 1410px;
    width: 100px;
    height: 50px;
}

.esquina_pagina {
    transform: translateX(0);
}

    .esquina_pagina:before {
        content: '';
        position: absolute;
        right: 0px;
        top: 0px;
        width: 0px;
        height: 0px;
        background: linear-gradient( 28deg, white 45%, #aaa 50%, #ccc 60%, white );
        transition-duration: 0.7s;
    }

    .esquina_pagina:hover:before {
        content: "   Docente: Edison Mora";
        width: 180px;
        height: 100px;
    }

/*Section*/

section {
    padding: 0px;
}

.contenedorsection {
    font-size: 16px;
}

.section-content {
    display: flex;
}

.section-section {
    flex: 1;
    padding: 75px;
}

section .contenedorsection .section-content .anitexto1, section .contenedorsection .section-content .anitexto2,
section .contenedorsection .section-content .anitexto3, section .contenedorsection .section-content .anitexto4,
section .contenedorsection .section-content .anitexto5, section .contenedorsection .section-content .anitexto6 {
    opacity: 0;
}

section .contenedorsection .section-content .aniimg1, section .contenedorsection .section-content .aniimg2,
section .contenedorsection .section-content .aniimg3, section .contenedorsection .section-content .aniimg4,
section .contenedorsection .section-content .aniimg5, section .contenedorsection .section-content .aniimg6 {
    opacity: 0;
}
/*Footer*/

#container {
    width: 100%;
    padding-top: 12px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
@media(min-width:700px) {
    .footer-content {
        display: flex;
    }
}
@media(max-width:700px) {
    .footer-content {
        display: block;
    }
}
.footer-section {
    flex: 1;
    padding: 25px;
    opacity: 0;
}

.footer-classic .footer-content .about h1, .footer-classic .footer-content .footer-section p {
    color: white;
    text-align: justify;
}

    .footer-classic .footer-content .about h1 sup {
        color: powderblue;
        font-size: 0.5em;
    }

.footer-classic .footer-content .footer-section p {
    font-family: Tahoma;
    padding-top: 10px;
    font-size: 1em;
}

.footer-classic .footer-content .footer-section h1 span {
    color: powderblue;
    font-size: 0.5em;
}


.footer-classic {
    padding: 30px;
    background: #404044;
    color: #aab2b9;
    font-size: 16px;
    padding-bottom: 60px;
    margin-top: 50px;
}

.contact div, .links a {
    display: block;
    margin-bottom: 8px;
    padding-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: #aab2b9;
}

.icon i {
    width: 20px;
    text-align: left;
    margin-right: 20px;
}

.contact p, .links p {
    font-size: 1.5em;
    font-family: "Poppins";
    color: white;
    margin-bottom: 25px;
}

h4 {
    padding-top: 20px;
}

.fa-phone, .fa-envelope-o {
    color: powderblue;
}

.fa-facebook {
    color: blue;
}

.fa-instagram {
    color: hotpink;
}

.fa-twitter {
    color: deepskyblue;
}
