@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:300,400,700%7CPoppins:300,400,500,700,900);

* {
    margin: 0px;
    padding: 0px;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    background: rgb(246, 247, 245);
    -webkit-transition: all 0.4s ease;
}

header {
    position:fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    padding-bottom: 100px;
}

header nav {
    height: 60px;
    width: 100%;
    line-height: 60px;
    opacity: 5;
    filter: alpha(opacity = 50);
    bottom: 0;
}

.texto, .texto1, .texto2 {
    text-align: center;
    font-family: "Poppins";
}
header nav a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: all 0.3s ease;
}
header.header2 {
    background-color:gray;
    background-blend-mode: soft-light;
    padding-bottom: 0px;
}

#linea {
    height: 1px;
    width: 100%;
    background-color: #a0a0a0;
}
nav a:hover {
    background: #252932;
    border-radius: 50px;
}
#ajuste {
    background: url('./caratula.png');
    background-size: cover;
    background-position: center;
    background-color: rgb(100,100,100);
    background-blend-mode: soft-light;
}
section#ajuste{
    height:759px;
}
.texto1 {
    padding-left:20px;
    padding-top: 250px;
    
}
.texto2 {
    font-family: "Poppins";
    font-size: 90px;
    letter-spacing:0.01em;
}
section.ajuste1{
    height:759px;
    font-family:"Roboto";
}

.container {
    max-width: 960px;
}
.w-full {
    width: 40%;
    flex-direction:column;
    display:flex;
    margin-left:auto;
    margin-right:auto;
    margin-top:40px;
}
.w-full1{
    padding:20px;
}
.enla {
    text-decoration: none;
    color:black;
    font-size:20px;
}
section div img{
    width:380px;
    height:254px;
}
#foot {
    background: linear-gradient(to left,#68644B 40%,gray 80%);
    height:200px;
    text-align: left;
    color: white;
}
